footer {
    position: relative;
    margin-top: -1px;
    background-color: #343d68;
    padding: 5rem;
}

.footer-wrapper {
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.footer-faded-text {
    position: absolute;
    left: 2%;
    bottom: 25px;
    color: #535c87;
    user-select: none;
    font-size: 3.5rem;
    line-height: 125%;
}

.footer-faded-text b{
    font-size: 5rem;
    padding: 0%;
}

.link-wrapper {
    display: flex;
    gap: 1.2rem;
    font-size: 1.35rem;
    z-index: 5;
}

.link-wrapper div a {
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover {
    color: var(--bgOrange);
}

.icon-wrapper {
    padding-right: 15px;
    display: flex;
    gap: 1.2rem;
    font-size: 2rem;
}

.icon {
    cursor: pointer;
    color: white;
    transition: all 0.4s;
}